.sidebar-content.list-group
  if environment !== 'production'
    button.btn-link.list-group-item.list-group-item-action.d-flex.align-items-center.cursor-pointer(rv-on-click="reload")
      bs4-icon.mr-3(src="/iconset/svg/icon_refresh.svg" size="20")
      | Reload
  a.list-group-item.list-group-item-action.d-flex.align-items-center(rv-route="'/view/settings'" rv-route-class-active="'/view/settings'")
    bs4-icon.mr-3(src="/iconset/svg/icon_cog.svg" size="20")
    span(rv-i18n-text="'titles.settings'")
  a.list-group-item.list-group-item-action.d-flex.align-items-center(rv-route="'/view/api'" rv-route-class-active="'/view/api'")
    bs4-icon.mr-3(src="/iconset/svg/icon_cogs.svg" size="20")
    span(rv-i18n-text="'titles.api'")
  .list-group-item.list-group-item-action
    rv-i18n-switcher
      .btn-group.btn-group-toggle(data-toggle="buttons")
        label.btn.btn-outline-primary(rv-each-langcode="langcodes" rv-class-active="langcode.active")
          input(type="radio" name="langs" id="langcode.code" autocomplete="off" rv-on-click="switch | args langcode" rv-checked="langcode.active")
          span(rv-text="langcode.code")