extends ../layouts/app.pug

block content
  .row
    .col-12
      h1.mb-5(rv-i18n-text="dataset.title | handleize | prepend 'titles.'")
  section.row.api
    .col-12
      .card.overview-card
        .card-body
          .card-text.px-3
            .row
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/api/facebook'")
                rv-icon.mr-3(src="/icons/jumplink-iconset_icon_facebook-api.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.facebook-api'")
                  p.description(rv-i18n-html="'overview.facebook_api_desc'")
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/api/instagram'")
                rv-icon.mr-3(src="/icons/jumplink-iconset_icon_instagram-api.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.instagram-api'")
                  p.description(rv-i18n-html="'overview.instagram_api_desc'")
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/api/shopify'")
                rv-icon.mr-3(src="/icons/jumplink-iconset_icon_shopify-api.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.shopify-api'")
                  p.description(rv-i18n-html="'overview.shopify_api_desc'")
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/api/webhooks'")
                rv-icon.mr-3(src="/icons/jumplink-iconset_icon_webhook-api.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.webhooks-api'")
                  p.description(rv-i18n-html="'overview.webhooks_api_desc'")