extends ../layouts/app.pug

block content
  .row
    .col-12
      h1.mb-5(rv-i18n-text="dataset.title | handleize | prepend 'titles.'")
  section.row
    .col-12
      .card.overview-card
        .card-body
          .card-text.px-3
            .row
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/settings'")
                bs4-icon.mr-3(src="/iconset/svg/icon_cog.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.settings'")
                  p.description(rv-i18n-html="'overview.settings_desc'")
              a.media.pt-3.col-12.col-md-6.col-xl-4(rv-route="'/view/orders'")
                bs4-icon.mr-3(src="/iconset/svg/icon_cogs.svg" size="40")
                .media-body
                  b.title(rv-i18n-text="'titles.orders'")
                  p.description(rv-i18n-html="'overview.orders_desc'")