extends ../layouts/app.pug

block content
  .row
    .col-12
      h1.mb-5(rv-i18n-text="dataset.title | handleize | prepend 'titles.'")
      shopify-nest-account-connects.my-3(type="shopify")
      hr
      shopify-nest-plans.my-3
      hr
      parcel-lab-settings