extends ../layouts/app.pug

block content
  .row
    .col-12
      h1.mb-5(rv-i18n-text="dataset.title | handleize | prepend 'titles.'")
      rv-account-connects.my-3(type="shopify")
      hr
      rv-plans.my-3
      hr
      rv-account-connects.my-3(type="facebook")
      hr
      rv-sync-progress.my-3