extends ../../layouts/app.pug

block content
  .row.content-blogs-articles
    .col-12
      h1.mb-5(rv-i18n-text="dataset.title | handleize | prepend 'titles.'")
      //- TODO show blog info here
      h2.mb-5(rv-i18n-text="'titles.content-articles'")
      rv-content-articles(blog-id=dataset.blog.id)