.row.flex-nowrap.scrollbar-primary.scrollbar-x-auto.scrollbar-y-hidden.card-container
  .card.monaco-editor-card.placeholder-card.col-auto
    .card-body
      .card-text(rv-i18n-html="'components.apiSocketExplorer.placeholderCard.content_html'")
.row.my-3
  .col-12
    button.btn.btn-primary(rv-on-click="simulate", rv-i18n-text="'components.apiSocketExplorer.simulate.label'", rv-bs4-tooltip="'components.apiSocketExplorer.simulate.info' | t langcode") Simulate