rv-socket-event-card {
  &.col-auto {
    width: 50vw;
  }
  .monaco-editor-card {
    height: 670px;
    .card-text {
      overflow: auto;
      height: 600px;
      max-width: 100%;
    }
    bs4-icon.close {
      position: absolute;
      right: 0;
      top: 0;
      color: $orange;
    }
  }
}