<p>
  Hier kannst du nachverfolgen wie die App Bestellungen bemerkt um sie anschließend an ParcelLab weiterzuleiten. Der Sinn dieser Ansicht bestehst darin die App zu debuggen.<br />
  Bearbeite beispielsweise eine Bestellung um den <code>order/update</code> Webhook auszulösen den du hier dann sehen wirst.
  Sobald ein beobachteter Webhook ausgelöst wurde, erscheint eine neue Karte links neben dieser Karte.<br />
  Bitte beachte, dass es einige Minuten dauern kann bis der Webhook hier erscheint.
</p>