.row.flex-nowrap.scrollbar-primary.scrollbar-x-auto.scrollbar-y-hidden.card-container
  .card.monaco-editor-card.placeholder-card.col-auto
    .card-body
      .card-text(rv-i18n-html="'components.webhookExplorer.placeholderCard.content_html'")