p Lieber Kunde, 
  br
  | wir sind ein kreatives, flexibles und kundenorientiertes Studio für Art+Code Projekte, stets fokussiert auf dem Weg für optimierte und schöne Lösungen. Wir möchten uns bei Ihnen dafür bedanken, dass Sie unsere Produkte und Dienstleistungen (der/die „Dienst/e“) nutzen. Indem Sie unsere Dienste in Anspruch nehmen, erklären Sie sich mit der Geltung dieser Allgemeinen Geschäftsbedingungen („AGB“) einverstanden.

h2 01 Kündigung

h3 01.1.
p Mit der Nutzung unserer Dienste wird die ausschließliche Gültigkeit dieser Geschäftsbedingungen durch den Nutzer anerkannt. Ein Vertrag zwischen dem Nutzer und unserem Dienst tritt durch die Einwilligung des Nutzers in Kraft.

h3 01.2.
p Eine Kündigung seitens des Nutzers ist jeder Zeit entsprechend der geltenden Kündigungsbedingungen möglich. Der Anbieter hat das Recht die Nutzung des Dienstes zu verweigern oder zu beenden sofern Verdacht auf eine widerrechtliche Nutzung des Dienstes besteht.

h2 02 Urheberrecht und Nutzungsrechte für unsere Dienste

h3 02.1.
p Um unsere Dienste zu nutzen, müssen Sie einige einfachen Regeln befolgen. Unterlassen Sie die Zweckentfremdung der Dienste, damit weder The Developer App for Shopify noch andere in irgendeiner Weise zu Schaden kommt. Sie dürfen die Dienste nur so nutzen, wie es das Gesetz und diese AGB erlauben. Indem Sie unsere Dienste nutzen, erklären Sie sich damit einverstanden, dass:
  ul
    li Alle von Ihnen angegebenen personenbezogenen Daten richtig und aktuell sind.
    li Sie für die Aktivitäten innerhalb Ihres Kontos und alle Inhalte, die Sie unter Ihrem The Developer App for Shopify Konto oder der von Dritten synchronisierten hochladen und/oder erstellen („Benutzermaterial“) allein verantwortlich sind.
    li Beiträge zur Propaganda, religiöse und/oder politische Meinungsbeiträge oder Beiträge, die Informationen enthalten, die in irgendeiner Weise eine Verleitung zum Rassenhass, Kinderpornografie oder Pornografie enthalten oder eine solche betreffen, unter Nutzung unserer Dienste verboten sind.
    li The Developer App for Shopify die Inhalte des Dienstes nicht überwacht, aber jederzeit nach eigenem alleinigem Ermessen Benutzermaterial aus dem Dienst und/oder Ihrem Konto entfernen sowie Ihr Konto und Ihre Mitgliedschaft beenden kann.
    li Ihre Mitgliedschaft bei The Developer App for Shopify, einschließlich Ihrer E-Mails und Ihrem Passwort, sich auf Ihre Person bezieht und nicht auf einen anderen übertragen oder von anderen genutzt werden darf. Sie sind dafür verantwortlich, Ihre Zugangsdaten sicher zu verwahren. The Developer App for Shopify ist in keiner Weise für etwaige Schäden verantwortlich, die durch unbefugten Zugang zu Ihrem Konto oder Nutzung Ihrer Zugangsdaten entstehen. Sollten Sie Kenntnis oder den Verdacht einer unbefugten Nutzung Ihres Kontos haben, sind Sie verpflichtet die The Developer App for Shopify Kundenbetreuung unverzüglich zu informieren. Kontaktinformationen finden Sie am Ende dieses Dokuments.
    li Die Verletzung dieser AGB die sofortige Kündigung Ihres Kontos und Abonnements nach sich ziehen wird. Wenn Sie diese AGB verletzen, werden Sie keine Erstattung erhalten.
    li Gewerbliche Angebote, Werbung und/oder Hinweise darauf (z.B. Links), wo gewerbliche Angebote zu finden sind, unter Nutzung unserer Dienste verboten sind.
    li Sie bei Kritik oder Feedback an The Developer App for Shopify oder unseren Diensten zuerst The Developer App for Shopify kontaktieren, um uns dabei zu helfen unsere Dienste zu verbessern.
    li Sie keine Dateien übertragen und/oder verbreiten dürfen, die The Developer App for Shopify oder die Rechner oder das Eigentum anderer schädigen können (z.B. Viren und Trojaner).
    li Sie die persönlichen Informationen anderer nicht ohne deren Erlaubnis teilen dürfen.

h2 03 Haftung
h3 03.1.
p Der Auftragnehmer schließt seine Haftung für leicht fahrlässige Pflichtverletzungen aus, sofern nicht Schäden aus der Verletzung des Lebens, des Körpers oder der Gesundheit oder Garantien betreffen oder Ansprüche nach dem Produkthaftungsgesetz berührt sind. Unberührt bleibt ferner die Haftung für die Verletzung von Pflichten, deren Erfüllung die ordnungsgemäße Durchführung des Vertrages überhaupt erst ermöglicht und auf deren Einhaltung der Nutzung regelmäßig vertrauen darf. Gleiches gilt für Pflichtverletzungen unserer Erfüllungsgehilfen.

h3 03.2.
p Für Aufträge, die im Namen und auf Rechnung des Nutzers an Dritte erteilt werden, haftet der Anbeiter nicht für die Leistungen und Arbeitsergebnisse der beauftragten Leistungserbringer.

h3 03.3.
p Der Nutzer stellt dem Anbieter von allen Ansprüchen frei, die Dritte gegen den Anbieter stellen wegen eines Verhaltens, für das der Nutzer nach dem Vertrag die Verantwortung beziehungsweise Haftung trägt. Er trägt die Kosten einer etwaigen Rechtsverfolgung.

h2 04 Vertraulichkeit
p Informationen, welche wir im Rahmen der Zusammenarbeit mit dem Nutzer von diesem erhalten, werden vertraulich behandelt und nur dann und insoweit an Dritte weitergegeben, wie dies der Vertragserfüllung dient. Der Nutzer verpflichtet sich desgleichen, alle ihm während der Zusammenarbeit zugänglich werdenden Informationen über uns und unsere Geschäftsverhältnisse vertraulich zu behandeln. Diese Vereinbarung gilt auch über das Vertragsende fort.

h2 05 Umsetzung digitaler Projekte / Dienstleistungen

h3 5.1
p Die technische Umsetzung digitaler Projekte wird bedingt für verschiedene aktuelle Webbrowser unternommen. 
p
  | Desktop Webbrowser
  ul
    li Safari / die letzten zwei Versionen für Mac
    li Chrome / die letzten drei Versionen für Mac und PC
    li Firefox / die letzten drei Versionen für Mac und PC
    li Edge / die letzten zwei Versionen für PC
    li Internet Explorer / mit Einschränkungen nur Version 11 für PC 
  | Mobile Webbrowser
  ul
    li Mobile Safari / die letzten zwei Versionen für iOS
    li Chrome Mobile / die letzten drei Versionen für Android und iOS
    li Samsung Internet /die letzten zwei Versionen für Android
p Um Unterstützung älterer Versionen kann nach Absprache erweitert werden. Des Weiteren weisen wir daraufhin, dass es unter Internet Explorer 11 Darstellungsprobleme geben kann, da der Browser selbst nicht mehr fortlaufend weiterentwickelt wird und einige moderne Funktionen nicht zur Verfügung stehen.

h2 6 Schlussbestimmungen

h3 6.1
p Erfüllungsort ist der Sitz des Auftragnehmers, sofern sich aus der Auftragsbestätigung nichts anderes ergibt.

h3 6.2.
p Die Unwirksamkeit einer der vorstehenden Bedingungen berührt die Geltung der übrigen Bestimmungen nicht.

h3 6.3.
p Gerichtsstand ist der Sitz des Auftragnehmers, sofern der Auftraggeber Vollkaufmann ist. Der Auftragnehmer ist auch berechtigt, am Sitz des Auftraggebers zu klagen. Es gilt das Recht der Bundesrepublik Deutschland.

h2 Kontakt 
ul.list-unstyled
  li The Developer App von Art+Code Studio
  li #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio]

p Letzte Aktualisierung: 22.10.2019
