h2 01 Notice to quit / period of validity

h3 01.1.
p With the use of our services, the exclusive validity of these terms and conditions is recognized by the user. A contract between the user and our service comes into force through the consent and use.

h3 01.2.
p Termination by the user is possible at any time in accordance with the applicable conditions of termination of the service. The provider has the right to refuse or terminate the use of the service if there is a suspicion of misuse of the service.

h2 02 Copyright and rights of use for our services

h3 02.1.
p To use our services, you must follow a few simple rules. Do not misuse services so that neither The Developer App for Shopify nor anyone else is harmed in any way. You may use the Services only as permitted by law and these Terms. By using our services, you agree that:
  ul
    li All personal data provided by you is correct and current.
    li You are responsible for the activities within your account and any content that you upload and / or create ("User Material") under your The Developer App for Shopify account or that synced by third parties.
    li Contributions to propaganda, religious and / or political opinion or contributions that contain information that in any way contains or relates to racial hatred, child pornography, or pornography are prohibited using our services.
    li The Developer App for Shopify does not monitor the contents of the Service, but may at any time, at its sole discretion, remove User Materials from the Service and / or Account, and terminate your account and membership.
    li Your membership in The Developer App for Shopify, including your emails and password, relates to you and may not be transferred to or used by others. You are responsible for keeping your access data secure. The Developer App for Shopify is in no way responsible for any damage caused by unauthorized access to your account or use of your access data. If you have knowledge or suspicion of unauthorized use of your account, you must notify The Developer App for Shopify Customer Care immediately. Contact information can be found at the end of this document. 
    li Breach of these Terms will result in the immediate termination of your account and subscription. If you violate these terms and conditions, you will not receive a refund.
    li Promotional offers, advertisements and / or references (such as links) where commercial offers can be found are prohibited using our services.
    li If you have a review or feedback to The Developer App for Shopify or our services, contact The Developer App for Shopify first to help us improve our services.
    li You may not transfer and / or distribute any files that may damage The Developer App for Shopify or the computers or property of others (such as viruses and Trojans).
    li You must not share the personal information of others without their permission.

h2 03 Liability
h3 03.1.
p The contractor excludes his liability for slightly negligent breaches of duty, as far as damages from injury to life, limb or health or guarantees or claims under the product liability law are concerned. Furthermore, the liability for the breach of duties, the fulfillment of which makes the proper execution of the contract possible in the first place and on whose observance the use may regularly rely. The same applies to breaches of duty by our vicarious agents.

h3 03.2.
p For orders placed in the name and for the account of the user to third parties, the provider is not liable for the services and work results of the commissioned service providers.

h3 03.3.
p The user indemnifies the provider against all claims that third parties make against the provider for behavior for which the user bears the responsibility or liability under the contract. He bears the costs of any legal action.

h2 04 Confidentiality
p Information, which we receive in the context of the co-operation with the user of this, are treated confidentially and only then and to that extent to third, how this serves the fulfillment of the contract. Likewise, the user agrees to keep all information available to us during the collaboration confidential about us and our business relationships. This agreement also applies furthermore to the end of the contract.

h2 05 Technical aspects

h3 5.1
p The technical implementation of digital projects is conditionally undertaken for various current web browsers.
p
  | Desktop browser
  ul
    li Safari / the last two versions for Mac
    li Chrome / the last three versions for Mac and PC
    li Firefox / the last three versions for Mac and PC
    li Edge / the last two versions for PC
    li Internet Explorer / mit Einschränkungen nur Version 11 für PC 
  | Mobile browser
  ul
    li Mobile Safari / the last two versions for iOS
    li Chrome Mobile / the last three versions for Android and iOS
    li Samsung Internet / the last two versions for Android
p Support for older versions can be extended upon request. Furthermore, we point out that there may be display problems in Internet Explorer 11 because the browser itself is no longer being developed further and some modern functions are not available.

h2 6 Final provisions

h3 6.1
p Place of performance is the registered office of the provider, unless otherwise stated in the order confirmation.

h3 6.2.
p The ineffectiveness of one of the above conditions does not affect the validity of the remaining provisions.

h3 6.3.
p Jurisdiction is the seat of the provider, if the user is a registered trader. The provider is also entitled to sue at the user's seat. The law of the Federal Republic of Germany.

h2 Contact 
ul.list-unstyled
  li The Developer App by Art+Code Studio
  li #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio]

p Last update: 22.10.2019
