p By installing our application or in any way using or accessing our Services, you accept the terms and conditions of this Privacy Policy and the processing of your personal data.

h2 Privacy Policy by The Developer App for Shopify

h3 Responsible for the processing of your personal data is:

ul.list-unstyled
  li.
    #[strong The Developer App for Shopify] by Art+Code Studio
  li &nbsp;
  li Art+Code Studio
  li Maya Philine Henze + Pascal Garber GbR
  li #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio]
  li Kasernenstraße 8
  li 27472 Cuxhaven, Germany

h3 01 Types of Data collected
p Your privacy is important to us and we will only process your personal data in accordance with this Privacy Policy and relevant personal data regulation.In order to continually improve our services, itmay be required to collect furtheradditional personal information. In such cases, we will inform you. As you continue to use the Services, you will regularly provide The Developer Appwith further personal data. It follows from the nature of the Services that we must process such data that you upload to the Services orthird-party applicationto enable the Services.
p If you access a third-party application through our service (e.g., Facebook), The Developer App for Shopify will collect and use personally identifiable information from such third party applications, e.g. Your username, name, profile picture, country, location, email address, gender, and any information that you sync with the services of The Developer App for Shopify. We will e.g. process your published image data to enable the provision of your content on the platform used with our service. This type of processing is a prerequisite for being able to offer you these services.
p Complete details on each type of Personal Data collected are provided in the dedicated sections of this privacy policydisplayed prior to the Data collection.Personal Data may be freely provided by the User, or, in case of Usage Data, collected automatically when using this Application.
p Unless specified otherwise, all Data requested by this Application is mandatory and failure to provide this Data may make it impossible for this Application to provide its services. In cases where this Application specifically states that some Data is not mandatory, Users are free not to communicate this Data without consequences to the availability or the functioning of the Service.
p Users who are uncertain about which Personal Data is mandatory are welcome to contact the Owner.
p Any use of Cookies – or of other tracking tools – by this Application or by the owners of third-party services used by this Application serves the purpose of providing the Service required by the User, in addition to any other purposes described in the present document and in the Cookie Policy, if available. Users are responsible for any third-party Personal Data obtained, published or shared through this Application and confirm that they have the third party's consent to provide the Data to the Owner. 

h3 02 Mode and place of processing the Data

h4 02.1. Methods of processing
p The Owner takes appropriate security measures to prevent unauthorized access, disclosure, modification, or unauthorized destruction of the Data.
p The Data processing is carried out using computers and/or IT enabled tools, following organizational procedures and modes strictly related to the purposes indicated. In addition to the Owner, in some cases, the Data may be accessible to certain types of persons in charge, involved with the operation of this Application (administration, sales, marketing, legal, system administration) or external parties (such as third-party technical service providers, mail carriers, hosting providers, IT companies, communications agencies) appointed, if necessary, as Data Processors by the Owner. The updated list of these parties may be requested from the Owner at any time.

h4 02.2. Legal basis of processing
p The Owner may process Personal Data relating to Users if one of the following applies:
ul
  li Users have given their consent for one or more specific purposes. Note: Under some legislations the Owner may be allowed to process Personal Data until the User objects to such processing (“opt-out”), without having to rely on consent or any other of the following legal bases. This, however, does not apply, whenever the processing of Personal Data is subject to European data protection law;
  li provision of Data is necessary for the performance of an agreement with the User and/or for any pre-contractual obligations thereof;
  li processing is necessary for compliance with a legal obligation to which the Owner is subject;
  li processing is related to a task that is carried out in the public interest or in the exercise of official authority vested in the Owner;
  li processing is necessary for the purposes of the legitimate interests pursued by the Owner or by a third party. In any case, the Owner will gladly help to clarify the specific legal basis that applies to the processing, and in particular whether the provision of Personal Data is a statutory or contractual requirement, or a requirement necessary to enter into a contract.

h4 02.3. Place
p The Data is processed at the Owner's operating offices and in any other places where the parties involved in the processing are located.
  br
  | Depending on the User's location, data transfers may involve transferring the User's Data to a country other than their own. Users can find out more by checking the relevant sections of this document or inquire with the Owner using the information provided in the contact section.

h4 02.4. Retention time
p Personal Data shall be processed and stored for as long as required by the purpose they have been collected for.
  br.
  | Therefore:
ul
  li Personal Data collected for purposes related to the performance of a contract between the Owner and the User shall be retained until such contract has been fully performed.
  li Personal Data collected for the purposes of the Owner’s legitimate interests shall be retained as long as needed to fulfill such purposes. Users may find specific information regarding the legitimate interests pursued by the Owner within the relevant sections of this document or by contacting the Owner.
p The Owner may be allowed to retain Personal Data for a longer period whenever the User has given consent to such processing, as long as such consent is not withdrawn. Furthermore, the Owner may be obliged to retain Personal Data for a longer period whenever required to do so for the performance of a legal obligation or upon order of an authority. Once the retention period expires, the right to access, the right to erasure, the right to rectification and the right to data portability cannot be enforced after expiration of the retention period.

h4 02.5. The purposes of processing
p The Data concerning the User is collected to allow the Owner to provide its Services, as well as for the following purposes: Access to third party services' accounts, Analytics, Contacting the User, Advertising, Registration and authentication, Managing contacts and sending messages, Displaying content from external platforms, Handling payments, Interaction with external social networks and platforms, Interaction with support and feedback platforms, Infrastructure monitoring, Managing support and contact requests, Remarketing and behavioral targeting, Hosting and backend infrastructure, Tag Management and Content performance and features testing (A/B testing). Users can find further detailed information about such purposes of processing and about the specific Personal Data used for each purpose in the respective sections of this document.

h3 03 Facebook

h4 03.1. Facebook permissions asked by this Application
p This Application may ask for some Facebook permissions allowing it to perform actions with the User's Facebook account and to retrieve information, including Personal Data, from it. This service allows this Application to connect with the User's account on the Facebook social network, provided by Facebook Inc. For more information about the following permissions, refer to the #[a(href="https://developers.facebook.com/docs/facebook-login/permissions") Facebook permissions documentation] and to the #[a(href="https://www.facebook.com/about/privacy/") Facebook privacy policy].

h3 04 The rights of Users
p Users may exercise certain rights regarding their Data processed by the Owner. In particular, Users have the right to do the following:
ul
  li Users have the right to withdraw consent where they have previously given their consent to the processing of their Personal Data.
  li Users have the right to object to the processing of their Data if the processing is carried out on a legal basis other than consent. Further details are provided in the dedicated section below.
  li Users have the right to learn if Data is being processed by the Owner, obtain disclosure regarding certain aspects of the processing and obtain a copy of the Data undergoing processing.
  li Users have the right to verify the accuracy of their Data and ask for it to be updated or corrected.
  li Users have the right, under certain circumstances, to restrict the processing of their Data. In this case, the Owner will not process their Data for any purpose other than storing it.
  li Users have the right, under certain circumstances, to obtain the erasure of their Data from the Owner.
  li Users have the right to receive their Data in a structured, commonly used and machine readable format and, if technically feasible, to have it transmitted to another controller without any hindrance. This provision is applicable provided that the Data is processed by automated means and that the processing is based on the User's consent, on a contract which the User is part of or on pre-contractual obligations thereof.
  li Users have the right to bring a claim before their competent data protection authority.

h3 05 Security of the personal data we process
p The security and integrity of your personal data are important to us. In addition to complying with applicable relevant personal data regulation, we use accepted industry standards, technologies, and procedures, such as firewalls, security software, etc., in order to protect the integrity of your personal data and to prevent any unauthorized access. However, no system can be 100% secure, and despite our efforts, there is always a risk of unauthorized access to your personal data. By using our Services, you assume this risk. We also urge you to use a unique and strong password to your user account on the Lifesum services as well as to protect such password. You should further limit access to your computer and browser and log out after having used the Lifesum Services.

h3 06 Right to object

h4 06.1. Details about the right to object to processing
p You may request information and rectification or deletion of your personal information processed by The Developer App for Shopify. To the extent a rectification request relates to data required for the services offered by The Developer App for Shopify, such requests will result in your account being shut down or discontinuing the The Developer App for Shopify, or will stop certain functionality.

h4 06.2. How to exercise these rights
p Any requests to exercise User rights can be directed to the Owner through the contact details provided in this document. These requests can be exercised free of charge and will be addressed by the Owner as early as possible and always within one month.

h3 07 Cookies

h4 07.1. Cookie Policy
p The Developer App for Shopify uses cookies for its proper functioning. We use session cookies (which automatically go out as soon as the browser is closed) and persistent cookies (which remain on your device for a certain period of time or until they are deleted). If your browser is set up to accept cookies, you consent to the use of cookies. If you do not want to accept cookies, you can change the settings on your browser so that cookies are not stored on your computer. You can also delete cookies that were previously saved on your computer. For such cases, please refer to the help section of your browser. If you do not accept cookies, you may not be able to use our app, or only to a limited extent.

h3 08 Additional information about Data collection and processing

h4 08.1. Legal action
p The User's Personal Data may be used for legal purposes by the Owner in Court or in the stages leading to possible legal action arising from improper use of this Application or the related Services. The User declares to be aware that the Owner may be required to reveal personal data upon request of public authorities.

h4 08.2 System logs and maintenance
p For operation and maintenance purposes, this Application and any third-party services may collect files that record interaction with this Application (System logs) use other Personal Data (such as the IP Address) for this purpose.

h3 09 Changes to this privacy policy
p The Owner reserves the right to make changes to this privacy policy at any time by giving notice to its Users on this page and possibly within this Application and/or - as far as technically and legally feasible - sending a notice to Users via any contact information available to the Owner. It is strongly recommended to check this page often, referring to the date of the last modification listed at the bottom. Should the changes affect processing activities performed on the basis of the User’s consent, the Owner shall collect new consent from the User, where required.

h3 10 Further information about your personal data and complaints
p If you have questions or complaints regarding our processing of your personal data, you can contact us at #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio].


