p Indem Sie unsere Anwendung installieren oder auf andere Art und Weise auf unsere Dienste zugreifen und/oder nutzen, wird die ausschließliche Gültigkeit dieser Datenschutzerklärung und die Verarbeitung der personenbezogenen Daten durch den Nutzer anerkannt.

h2 Datenschutzerklärung von The Developer App for Shopify

h3 Anbieter und Verantwortlicher
ul.list-unstyled
  li.
    #[strong The Developer App for Shopify] by Art+Code Studio
  li &nbsp;
  li Art+Code Studio
  li Maya Philine Henze + Pascal Garber GbR
  li #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio]
  li Kasernenstraße 8
  li 27472 Cuxhaven, Germany

h3 01 Arten der erhobenen Daten
p Ihre Privatsphäre ist uns wichtig. Wir werden Ihre personenbezogenen Daten ausschließlich gemäß den Vorgaben dieser Datenschutzerklärung und den einschlägigen Regelungen zum Schutz personenbezogener Daten (Datenschutzvorschriften) verarbeiten. Um unsere Dienste kontinuierlich zu verbessern, werden möglicherweise weitere personenbezogene Daten von Ihnen erhoben. In solchen Fällen werden wir Sie darauf hinweisen, wenn die Erhebung von personenbezogenen Daten stattfindet.
p Wenn Sie sich für die Dienste von The Developer App for Shopify anmelden, erhebt diese Anwendung selbstständig oder durch Dritte personenbezogene Daten von Ihnen. Wenn Sie über unseren Dienst auf eine Drittanwendung zugreifen (z.B. Facebook), wird The Developer App for Shopify personenbezogene Daten von solchen Drittanwendungen erheben und nutzen, so z.B. Ihren Nutzernamen, Namen, Profilbild, Land, Wohnort, E-Mail-Adresse, Geschlecht und solche Informationen, die Sie mit den Diensten von The Developer App for Shopify synchronisieren. Wenn Sie die Dienste dieser Anwendung in Anspruch nehmen, werden Sie regelmäßig personenbezogene Daten an The Developer App for Shopify übermitteln. Es liegt in der Natur unseres Angebotes, dass wir die Daten, die Sie im Rahmen zur Nutzung unseres Dienstes veröffentlichen, zur Erbringung dieser Dienste verarbeiten müssen. Wir werden z.B. Ihre veröffentlichten Bilddaten verarbeiten, um die Bereitstellung Ihres Contents auf der mit unserem Dienst genutzten Plattform zu ermöglichen. Diese Art von Verarbeitung ist eine Voraussetzung dafür, Ihnen diese Dienste anbieten zu können. 
p Vollständige Details zu jeder Art von verarbeiteten personenbezogenen Daten werden in den dafür vorgesehenen Abschnitten dieser Datenschutzerklärung angezeigt. Personenbezogene Daten können vom Nutzer freiwillig angegeben oder, im Falle von Nutzungsdaten, automatisch erhoben werden, wenn diese Anwendung genutzt wird. Sofern nicht anders angegeben, ist die Angabe aller durch diese Anwendung angeforderten Daten obligatorisch. Weigert sich der Nutzer, die Daten anzugeben, kann dies dazu führen, dass diese Anwendung dem Nutzer die Dienste nicht zur Verfügung stellen kann. In Fällen, in denen diese Anwendung die Angabe personenbezogener Daten ausdrücklich als freiwillig bezeichnet, dürfen sich die Nutzer dafür entscheiden, diese Daten ohne jegliche Folgen für die Verfügbarkeit oder die Funktionsfähigkeit des Dienstes nicht anzugeben. Nutzer, die sich darüber im Unklaren sind, welche personenbezogenen Daten obligatorisch sind, können sich an den Anbieter wenden. 
p Jegliche Verwendung von Cookies – oder anderer Tracking-Tools – durch diese Anwendung oder Anbieter von Drittdiensten, die durch diese Anwendung eingesetzt werden, dient dem Zweck, den vom Nutzer gewünschten Dienst zu erbringen, und allen anderen Zwecken, die im vorliegenden Dokument und, falls vorhanden, in der Cookie-Richtlinie beschrieben sind. Die Nutzer sind für alle personenbezogenen Daten Dritter verantwortlich, die durch diese Anwendung beschafft, veröffentlicht oder weitergegeben werden, und bestätigen, dass sie die Zustimmung zur Übermittlung personenbezogener Daten etwaiger Dritter an diese Anwendung eingeholt haben.

h3 02 Art und Ort der Datenverarbeitung

h4 02.1. Verarbeitungsmethoden
p Der Anbieter verarbeitet die Nutzerdaten auf ordnungsgemäße Weise und ergreift angemessene Sicherheitsmaßnahmen, um den unbefugten Zugriff und die unbefugte Weiterleitung, Veränderung oder Vernichtung von Daten zu vermeiden. Die Datenverarbeitung wird mittels Computern oder IT-basierten Systemen nach organisatorischen Verfahren und Verfahrensweisen durchgeführt, die gezielt auf die angegebenen Zwecke abstellen. Zusätzlich zum Verantwortlichen könnten auch andere Personen intern (Personalverwaltung, Vertrieb, Marketing, Rechtsabteilung, Systemadministratoren) oder extern – und in dem Fall soweit erforderlich, vom Verantwortlichen als Auftragsverarbeiter benannt (wie Anbieter technischer Dienstleistungen, Zustellunternehmen, Hosting-Anbieter, IT-Unternehmen oder Kommunikationsagenturen) - diese Anwendung betreiben und damit Zugriff auf die Daten haben. Eine aktuelle Liste dieser Beteiligten kann jederzeit vom Anbieter verlangt werden.

h4 02.2. Rechtsgrundlagen der Verarbeitung
p Der Anbieter darf personenbezogene Daten von Nutzern nur dann verarbeiten, wenn einer der folgenden Punkte zutrifft:
ul
  li Die Nutzer haben eine Einwilligung für einen oder mehrere bestimmte Zwecke erteilt. Hinweis: In einigen Gesetzgebungen kann es dem Anbieter gestattet sein, personenbezogene Daten zu verarbeiten, bis der Nutzer einer solchen Verarbeitung widerspricht ("Opt-out"), ohne sich auf die Einwilligung oder eine andere der folgenden Rechtsgrundlagen verlassen zu müssen. Dies gilt jedoch nicht, wenn die Verarbeitung personenbezogener Daten dem europäischen Datenschutzrecht unterliegt;
  li Die Datenerhebung ist für die Erfüllung eines Vertrages mit dem Nutzer und/oder für vorvertragliche Maßnahmen daraus erforderlich;
  li Die Verarbeitung ist für die Erfüllung einer rechtlichen Verpflichtung, der der Anbieter unterliegt, erforderlich;
  li Die Verarbeitung steht im Zusammenhang mit einer Aufgabe, die im öffentlichen Interesse oder in Ausübung hoheitlicher Befugnisse, die dem Anbieter übertragen wurden, durchgeführt wird;
  li Die Verarbeitung ist zur Wahrung der berechtigten Interessen des Anbieters oder eines Dritten erforderlich.

h4 02.3. Ort der Verarbeitung
p Die Daten werden in der Niederlassung des Anbieters und an allen anderen Orten, an denen sich die an der Datenverarbeitung beteiligten Stellen befinden, verarbeitet. 
p Je nach Standort der Nutzer oder Drittanbieter können Datenübertragungen die Übertragung der Daten des Nutzers in ein anderes Land als das eigene beinhalten. Wenn eine solche Übermittlung stattfindet, kann der Nutzer mehr darüber erfahren, indem er die entsprechenden Abschnitte dieses Dokuments überprüft oder sich mit dem Anbieter über die im Kontaktteil angegebenen Informationen in Verbindung setzt.

h4 02.4. Speicherdauer
p Personenbezogene Daten werden so lange verarbeitet und gespeichert, wie es der Zweck erfordert, zu dem sie erhoben wurden.
  br.
  | Daher gilt:
ul
  li Personenbezogene Daten, die zu Zwecken der Erfüllung eines zwischen dem Anbieter und dem Nutzer geschlossenen Vertrages erhoben werden, werden bis zur vollständigen Erfüllung dieses Vertrages gespeichert.
  li Personenbezogene Daten, die zur Wahrung der berechtigten Interessen des Anbieters erhoben werden, werden so lange aufbewahrt, wie es zur Erfüllung dieser Zwecke erforderlich ist. Nutzer können nähere Informationen über die berechtigten Interessen des Anbieters in den entsprechenden Abschnitten dieses Dokuments oder durch Kontaktaufnahme zum Anbieter erhalten.
p Darüber hinaus ist es dem Anbieter gestattet, personenbezogene Daten für einen längeren Zeitraum zu speichern, wenn der Nutzer in eine solche Verarbeitung eingewilligt hat, solange die Einwilligung nicht widerrufen wird. Darüber hinaus kann der Anbieter verpflichtet sein, personenbezogene Daten für einen längeren Zeitraum aufzubewahren, wenn dies zur Erfüllung einer gesetzlichen Verpflichtung oder auf Anordnung einer Behörde erforderlich ist. Nach Ablauf der Aufbewahrungsfrist können das Auskunftsrecht, das Recht auf Löschung, das Recht auf Berichtigung und das Recht auf Datenübertragbarkeit nach Ablauf der Aufbewahrungsfrist nicht geltend gemacht werden.

h4 02.5. Zwecke der Verarbeitung
p Personenbezogene Daten über den Nutzer werden erhoben, damit der Anbieter die Dienstleistungen erbringen kann. Darüber hinaus werden Daten zu folgenden Zwecken erhoben: Zugriff auf Profile von Drittanbietern, Analytik, Kontaktieren des Nutzers, Werbung, Anmeldung und Authentifizierung, Verwalten von Kontakten und Versenden von Nachrichten, Anzeigen von Inhalten externer Plattformen, Umgang mit Zahlungen, Interaktion mit externen sozialen Netzwerken und Plattformen, Interaktion mit Support- und Bewertungs-Plattformen, Überwachung der Infrastruktur, Verwaltung von Support- und Kontaktanfragen, Remarketing und Behavioural-Targeting, Hosting und Backend-Infrastruktur, Tag-Verwaltung und Testen der Performance von Inhalten und Funktionen (A/B-Test). Nutzer können weitere detaillierte Informationen zu diesen Verarbeitungszwecken und zu den für den jeweiligen Zweck verwendeten personenbezogenen Daten einholen.

h3 03 Facebook

h4 03.1. Facebook-Genehmigungen, die für diese Anwendung erforderlich sind
p Diese Anwendung kann bestimmte Facebook-Genehmigungen verlangen, um mit dem Facebook-Konto des Nutzers Aktionen auszuführen und Informationen einschließlich personenbezogener Daten daraus zu erhalten. Diese Anwendung verbindet sich mittels dieses Dienstes mit dem Nutzerprofil auf dem sozialen Netzwerk Facebook, bereitgestellt von Facebook Inc. Weitere Informationen über die folgenden Genehmigungen entnehmen Sie bitte der #[a(href="https://developers.facebook.com/docs/facebook-login/permissions") Dokumentation über Facebook-Genehmigungen] sowie der #[a(href="https://www.facebook.com/about/privacy/") Facebook-Datenschutzerklärung]. 

h3 04 Rechte der Nutzer
p Die Nutzer können bestimmte Rechte in Bezug auf ihre vom Anbieter verarbeiteten Daten ausüben.
  br
  | Nutzer haben insbesondere das Recht, Folgendes zu tun:
ul
  li Hat der Nutzer zuvor in die Verarbeitung personenbezogener Daten eingewilligt, so kann er die eigene Einwilligung jederzeit widerrufen.
  li Der Nutzer hat das Recht, der Verarbeitung der Daten zu widersprechen, wenn die Verarbeitung auf einer anderen Rechtsgrundlage als der Einwilligung erfolgt. 
  li Der Nutzer hat das Recht zu erfahren, ob die Daten vom Anbieter verarbeitet werden, über einzelne Aspekte der Verarbeitung Auskunft zu erhalten und eine Kopie der Daten zu erhalten.
  li Der Nutzer hat das Recht, die Richtigkeit seiner Daten zu überprüfen und deren Aktualisierung oder Berichtigung zu verlangen.
  li Der Nutzer hat das Recht, unter bestimmten Umständen die Verarbeitung der Daten einzuschränken. In diesem Fall wird der Anbieter die Daten zu keinem anderen Zweck als der Speicherung verarbeiten.
  li Der Nutzer hat unter bestimmten Umständen das Recht, die Löschung ihrer Daten vom Anbieter zu verlangen.
  li Der Nutzer hat das Recht, seine Daten in einem strukturierten, gängigen und maschinenlesbaren Format zu erhalten und, sofern technisch möglich, ungehindert an einen anderen Verantwortlichen übermitteln zu lassen. Diese Bestimmung ist anwendbar, sofern die Daten automatisiert verarbeitet werden und die Verarbeitung auf der Zustimmung des Nutzers, auf einem Vertrag, an dem der Nutzer beteiligt ist, oder auf vorvertraglichen Verpflichtungen beruht.
  li Der Nutzer hat das Recht, eine Beschwerde bei der zuständigen Aufsichtsbehörde einzureichen.

h3 05 Sicherheit Ihrer von uns verarbeiteten personenbezogenen Daten
p Die Sicherheit und Unversehrtheit Ihrer personenbezogenen Daten ist uns wichtig. Über die Beachtung der einschlägig anwendbaren Datenschutzvorschriften hinaus nutzen wir die anerkannten Industriestandards, Technologien und Verfahren, wie z.B. Firewalls, Sicherheitssoftware etc., um die Unversehrtheit Ihrer personenbezogenen Daten zu schützen und um unbefugten Zugang zu diesen zu verhindern. Trotz unseren Bemühungen besteht immer ein Risiko, dass Unbefugte sich Zugang zu Ihren personenbezogenen Daten verschaffen, denn kein System kann 100-prozentige Sicherheit bieten.  Indem Sie unsere Dienste nutzen, nehmen Sie dieses Risiko auf sich. Wir fordern Sie zudem auf, ein einmaliges und starkes Passwort für unseren Dienst und für Drittanbieter zu nutzen, um Ihre Konten und enthaltende Daten zu schützen. Außerdem sollten Sie dieses Passwort vor unbefugtem Zugriff schützen und den Zugang zu Ihrem Rechner und Browser begrenzen und sich ausloggen, nachdem Sie die The Developer App for Shopify Dienste genutzt haben.

h3 06 Widerspruchsrecht

h4 06.1. Details zum Widerspruchsrecht bezüglich der Verarbeitung
p Sie können Auskunft und Berichtigung oder Löschung bezüglich Ihrer von The Developer App for Shopify verarbeiteten personenbezogenen Daten verlangen. Soweit sich ein Berichtigungsantrag auf Daten bezieht die für die von The Developer App for Shopify angebotenen Dienste erforderlich sind, werden solche Anträge dazu führen, dass Ihr Konto bei The Developer App for Shopify oder beendet wird oder bestimmte Funktionalitäten entfallen. 

h4 06.2. Wie die Rechte ausgeübt werden können
p Alle Anfragen zur Ausübung der Nutzerrechte können über die in diesem Dokument angegebenen Kontaktdaten an den Anbieter gerichtet werden. Anträge können kostenlos ausgeübt werden und werden vom Anbieter so früh wie möglich, spätestens innerhalb eines Monats, bearbeitet.

h3 07 Cookies

h4 07.1. Cookie-Richtlinien
p The Developer App for Shopify nutzt Cookies für seine ordnungsgemäße Funktionsweise. Wir nutzen sowohl sog. Session Cookies (die automatisch erlöschen, sobald der Browser geschlossen wird) als auch sog. Persistent Cookies (diese verbleiben auf Ihrem Gerät für eine bestimmte Zeitspanne oder bis sie gelöscht werden). Wenn Ihr Browser so eingerichtet ist, dass er Cookies akzeptiert, willigen Sie damit in die Nutzung von Cookies ein. Wenn Sie Cookies nicht akzeptieren wollen, können Sie die Einstellungen an Ihrem Browser verändern, damit Cookies nicht auf Ihrem Rechner gespeichert werden. Sie können auch Cookies löschen, die zuvor auf Ihrem Rechner gespeichert wurden. Für solche Fälle wird auf den Hilfebereich Ihres Browsers verwiesen. Wenn Sie Cookies nicht akzeptieren, können Sie die unsere App möglicherweise nicht oder nur eingeschränkt nutzen.

h3 08 Weitere Informationen über die Erhebung und Verarbeitung von Daten

h4 08.1. Rechtliche Maßnahmen
p Die personenbezogenen Daten des Nutzers können vom Anbieter zu Zwecken der Rechtsdurchsetzung innerhalb oder in Vorbereitung gerichtlicher Verfahren verarbeitet werden, die sich daraus ergeben, dass diese Anwendung oder die dazugehörigen Dienste nicht ordnungsgemäß genutzt wurden.Der Nutzer erklärt, sich dessen bewusst zu sein, dass der Anbieter von den Behörden zur Herausgabe von personenbezogenen Daten verpflichtet werden könnte.

h4 08.2 Systemprotokolle und Wartung
p Diese Anwendung und die Dienste von Drittanbietern können zu Betriebs- und Wartungszwecken Dateien sammeln, die die über diese Anwendung stattfindende Interaktion aufzeichnen (Systemprotokolle), oder andere personenbezogene Daten (z. B. IP-Adresse) zu diesem Zweck verwenden.

h3 09 Änderungen dieser Datenschutzerklärung
p Der Anbieter behält sich vor, jederzeit Änderungen an dieser Datenschutzerklärung vorzunehmen, indem er den Nutzer auf dieser Seite und gegebenenfalls über diese Anwendung und/oder - soweit technisch und rechtlich möglich – durch das Versenden einer Mitteilung an die Nutzer über eine der dem Anbieter zur Verfügung stehenden Kontaktdaten entsprechend informiert. Nutzern wird daher nahe gelegt, diese Seite regelmäßig aufzurufen und dabei das am Seitenende angegebene Datum der letzten Änderung zu prüfen.Sofern Änderungen eine auf der Einwilligung des Nutzers basierte Datennutzung betreffen, so wird der Anbieter - soweit erforderlich - eine neue Einwilligung einholen.

h3 10 Weitere Informationen zu Ihren personenbezogenen Daten und Beschwerden
p Sollten Sie Fragen oder Beschwerden hinsichtlich unserer Verarbeitung Ihrer personenbezogenen Daten haben, können Sie uns unter #[a(href="mailto:shopify@artandcode.studio") shopify@artandcode.studio] kontaktieren.


