.card {
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  &.overview-card {
    a.media {
      color: #007ace;
      min-height: 84px;
      .description {
        color:$gray-700
      }
      bs4-icon {
        background-color: #f4f6f8;
        color: #919eab;
        padding: 10px;
        border-radius: $border-radius;
      }
      &:hover {
        color: #084e8a;
        background-color: #f9fafb;
        text-decoration: none;
        bs4-icon {
          background-color: #dfe3e8;
        }
      }
    }
  }

  &.monaco-editor-card {
    background-color: $dark;
    max-width: 100%;
    .card-text, .card-title {
      color: $orange;
    }
    .form-control.form-control-light {
      background-color: transparent;
      color: $orange;
      border-color: #6d6d6d;
      &:focus {
        border-color: $input-focus-border-color;
      }
      // Freestyle input form
      &.form-control-freestyle {

      }
      // Readonly input form
      &.form-control-readonly {

      }
    }
    .btn.btn-outline-light {
      border-color: #6d6d6d;
      color: $gray-400;
      &:hover, &:focus {
        background-color: #323435;
      }
    }
  }

  .orders {
    &.overview-card {
      a.media {
        bs4-icon {
          padding: 5px;
        }
      }
    }
  }
}