.toggler-button.p-3.cursor-pointer(rv-on-click="toggle", rv-class-active="sidebarVisable")
  bs4-icon(rv-hide="sidebarVisable" src="/iconset/svg/icon_menu.svg" size="32")
  bs4-icon(rv-show="sidebarVisable" src="/iconset/svg/icon_close.svg" size="32")