.toggler-button.p-3.cursor-pointer(rv-on-click="toggle", rv-class-active="sidebarVisable")
  rv-icon(rv-hide="sidebarVisable" src="/icons/jumplink-iconset_icon_menu.svg" size="32")
  rv-icon(rv-show="sidebarVisable" src="/icons/jumplink-iconset_icon_close.svg" size="32")